body {
  height: 828px;
  min-width: 1080px;
  display: grid;
  grid-template-rows: 65% 24% 11%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container {
  position: relative;
  background-image: url(images/your_verse_hero_2x.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 100%;
}

.navbar {
  position: absolute;
  font-size: 11px;
  top: 15%;
  left: 20%;
  background: #9e9e9e;
  background: linear-gradient(#9e9e9e 50%, #7d7d7d 75%, #696969 100%);
  display: grid;
  width: 60%;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 20%;
  justify-items: center;
  align-items: center;
  color: #fff;
  z-index: 1;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-right: 2px solid gray;
}

.text-container {
  font-size: 25px;
  font-weight: lighter;
  position: absolute;
  width: 100%;
  height: 100%;
}

.central-title {
  position: absolute;
  font-size: 70px;
}

.central-text {
  position: absolute;
  top: 20%;
  height: 10%;
  color: #fff;
  width: 100%;
  text-align: center;
  height: 10%;
}

.central-description {
  position: absolute;
  top: 45%;
  font-size: 30px;
}

.central-link {
  position: absolute;
  top: 66%;
  font-size: 25px;
}


.previews {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 100%;
}

.preview-boxes {
  margin: 1%;
}

.first {
  background-image: url(images/1st.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.second {
  background-image: url(images/2nd.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.third {
  background-image: url(images/3rd.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.fourth {
  background-image: url(images/4th.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}

footer {
  font-size: 10px;
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1, 50%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  color: #6e6e6e;
  letter-spacing: 1%;
  line-height: 1.2;
}

ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

li {
  border-right: 1px solid #ccc;
  padding-right: 5px;
  padding-left: 5px;
}

.last-item {
  border-right: none;
}

a {
  color: #0088cc;
  text-decoration: none;
}